

html{
  scroll-behavior: smooth;

}
body{ 
	 background-image:url("../img/fundocomputador.jpg!d");
   font-family: 'IM Fell Great Primer', serif;
}


header,footer{
     background-color:rgba(128,0,128);
     padding:1%;
     font-family: 'IM Fell Great Primer SC', serif;
     position: relative; 
     display: flex;
     flex-direction:column;
     font-size: 1.5em;
     align-items: center;
} 

 .menu-opcoes{
      text-align: center;
}
 .fixo{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

 .ajustes{
  line-height: 1;
  text-align: center;
}

 .ajustes li:hover{
  background-color:#FFFAF0; 
}

 p{
     color: #FFFAF0;
     text-align: center;
     font-size:2em; 
     margin-top:2%; 
     margin-bottom:2%;
          }

h1,h2{ 
  font-size:2em; 
  color:#FFFAF0;
  font-family: 'IM Fell Great Primer SC', serif;
}

.testeri{
  float:left;
}  
.testepa{
  margin-left: 25%;
}  
.titulos {
       color:black;
       text-align:center;
       font-size:50px;
       margin-top:3%; 
       margin-bottom:3%;
                }
       ul li, ol li{
              
              color:#FFFAF0;  
              font-size:1.3em
              margin-top:1%; 
              margin-bottom:1%;
                    }

    figure{

      text-align: center;
}
    img{
   width:80%;
  max-width:350px;
  max-height:350px;
}


a:link {
  color:pink;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #9400D3;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: #9400D3;
  background-color: transparent;
  text-decoration: underline;
}
  table{
    font-family: 'IM Fell Great Primer SC', serif;    
    border-collapse: collapse;
    color:#FFFAF0;  

}
  td,th{
    border: 5px solid #FFFAF0 ;
    text-align: center;
}

.centro{
  text-align: center;
}
.container{

   width: 80%;
   margin-right:auto;
   margin-left:auto;
   position: relative;
}

/*tela menor que 599px*/
@media screen and (max-width: 600px) {
  .container{
   margin-top: 65%;

}
}
/*tela maior que 600px*/
@media screen and (min-width: 600px) {
  .container{
   margin-top: 40%;
}
}
/*tela maiores que 768px*/
@media screen and (min-width: 768px) {
    .container{
     margin-top: 15%;}
     header{
        background-color:rgba(128,0,128);
        flex-direction: row;
        position: relative;
      }
     .menu-opcoes{
      position: absolute;
      right: 5%;
      top:45%;
      }
     .menu-opcoes ul li{
      display:inline; 
      margin-left: 10px;
      }
}
 