body{ 
	 background-image:url("../img/fundoamarelo.jfif");
	 width: 80%
	 margin-left:auto;
	 margin-right: auto;
	 text-align: center;}
       
         p{
           color: black;
           text-align: center;
           font-size: 45px }
       
        h1,h3,h2 {
                  text-align: center;
                  text-decoration:underline;
                  font-size:45px}
       ul li, ol li{
              text-decoration: underline;
              font-weight: bolder;

                    }

                    
a:link {
  color: blue;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: red;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
  table{
    font-family: arial,sans-serif;
    border-collapse: collapse;
    width: 100%;
    color:black;  
}
  td,th{
    border: 3px solid #F5FFFA ;
}


